footer{
  z-index:1;
  margin-top: 20px;
  width: 100%;
  background-color: gray;
  font-family: sans-serif, Arial;
  color: black;
  font-size: small;
  padding: 20px 0 20px;
  text-align:center;
}