<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

	
	<env-entry>
		<env-entry-name>url</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>jdbc:mysql://oraclepr.uco.es:3306/i02jijia</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>password</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>PRPW</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>user</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>i02jijia</env-entry-value>
	</env-entry>
	
	
	<context-param>
    	<param-name>sqlproperties</param-name>
    	<param-value>/WEB-INF/sql.properties</param-value>
	</context-param>
	
	
	<servlet>
		<servlet-name>RegisterCamp</servlet-name>
		<servlet-class>servlet.admin.RegisterCamp</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RegisterCamp</servlet-name>
	    <url-pattern>/RegisterCamp</url-pattern>
	</servlet-mapping>
	
	<servlet>		  
		<servlet-name>listarCampDisponible</servlet-name>
		<servlet-class>servlet.user.listarCampDisponible</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>listarCampDisponible</servlet-name>
	    <url-pattern>/listarCampDisponible</url-pattern>
	</servlet-mapping>
	

	<servlet>		  
		<servlet-name>searchCamp</servlet-name>
		<servlet-class>servlet.user.searchCamp</servlet-class>
	</servlet>
	<servlet-mapping>
	
	    <servlet-name>searchCamp</servlet-name>
	    <url-pattern>/searchCamp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegisterMonitor</servlet-name>
		<servlet-class>servlet.admin.RegisterMonitor</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RegisterMonitor</servlet-name>
	    <url-pattern>/RegisterMonitor</url-pattern>
	</servlet-mapping>
	
	<servlet>		  
		<servlet-name>AsociarMonitorCampamento</servlet-name>
		<servlet-class>servlet.admin.AsociarMonitorCampamento</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>AsociarMonitorCampamento</servlet-name>
	    <url-pattern>/AsociarMonitorCampamento</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterActivity</servlet-name>
		<servlet-class>servlet.admin.RegisterActivity</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RegisterActivity</servlet-name>
	    <url-pattern>/RegisterActivity</url-pattern>
	</servlet-mapping>
	
	<servlet>		  
		<servlet-name>AsociarActividadCamp</servlet-name>
		<servlet-class>servlet.admin.AsociarActividadCamp</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>AsociarActividadCamp</servlet-name>
	    <url-pattern>/AsociarActividadCamp</url-pattern>
	</servlet-mapping>

	<servlet>		  
		<servlet-name>AsociarMonitorActividad</servlet-name>
		<servlet-class>servlet.admin.AsociarMonitorActividad</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>AsociarMonitorActividad</servlet-name>
	    <url-pattern>/AsociarMonitorActividad</url-pattern>
	</servlet-mapping>
	
	<servlet>		  
		<servlet-name>RegisterInscription</servlet-name>
		<servlet-class>servlet.user.RegisterInscription</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RegisterInscription</servlet-name>
	    <url-pattern>/RegisterInscription</url-pattern>
	</servlet-mapping>
	
	<servlet>		  
		<servlet-name>AcceptInscription</servlet-name>
		<servlet-class>servlet.user.AcceptInscription</servlet-class>
	</servlet>
	<servlet-mapping>	
	    <servlet-name>AcceptInscription</servlet-name>
	    <url-pattern>/AcceptInscription</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CancelInscription</servlet-name>
		<servlet-class>servlet.user.CancelInscription</servlet-class>
	</servlet>	
	<servlet-mapping>
	    <servlet-name>CancelInscription</servlet-name>
	    <url-pattern>/CancelInscription</url-pattern>
	</servlet-mapping>



</web-app>